<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Выберите действие:</title>
</head>

<body>

    <button onclick="location.href='/createEstate'" style="color: aqua; text-align: center">Создать недвижимость</button>
    <button onclick="location.href='/createAD'" style="color: aqua; text-align: center" ;>Создать объявление</button>
    <button onclick="location.href='/changeEstate'" style="color: rgb(115, 224, 186); text-align: center">Изменить недвижимость</button><br>
    <button onclick="location.href='/changeAD'" style="color: rgb(115, 224, 186); text-align: center">Изменить недвижимость</button>
    <button onclick="location.href='/buyEstate'" style="color: rgb(160, 160, 255); text-align: center;">Купить недвижимость</button>
    <button onclick="location.href='/withdraw'" style="color: rgb(160, 160, 255); text-align: center;">Вывод баланса</button><br>
    <button onclick="location.href='/get'" style="color: rgb(226, 160, 255); text-align: center;">Получение данных</button>
    <button onclick="location.href='/pay'" style="color: rgb(226, 160, 255); text-align: center;">Покупка</button><br>
    <button onclick="location.href='/exit'" style="color: rgb(255, 160, 166); text-align: center;">Выход</button>

</body>

</html>