<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bye Estate</title>
</head>

<body>
    {% include "header.html" %}
    <form method="post">
        <input type="text" name="idAD" placeholder="Введите номер объявления:" style="text-align: center;">


        <button type="submit" style="color: aqua; text-align: center">Купить</button> {% if error %}<br>
        <p style="color: red;">Ошибка покупки недвижимости</p>
        {% endif %}

    </form>
</body>

</html>