<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change AD</title>
</head>

<body>
    {% include "header.html" %}
    <form method="post">
        <input type="text" name="idAD" placeholder="Введите номер объявления:" style="text-align: center;">
        <input type="text" name="price" placeholder="Введите цену:" style="text-align: center;"><br>
        <input type="text" name="idEstate" placeholder="Введите номер недвижимости::" style="text-align: center;"><br>


        <button type="submit" style="color: rgb(115, 224, 186); text-align: center">Обновить</button> {% if error %}<br>
        <p style="color: red;">Ошибка обновления объявления:</p>
        {% endif %}

    </form>
</body>

</html>