<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get</title>
</head>

<body>
    {% include "header.html" %}
    <form method="post">
        <input type="text" name="address" placeholder="" style="text-align: center;">ID: {estate[5]}, Адрес: {estate[0]}, Площадь: {estate[1]}, Тип: {estate[2]}</form>
    <input type="text" name="square" placeholder="ID: {ad[1]}, Цена: {ad[0]}, Тип объявления: {ad[5]}" style="text-align: center;"><br>
    <input type="text" name="type" placeholder="Баланс на контракте для {account}: {balance}" style="text-align: center;"><br>
    <input type="text" name="type" placeholder="Баланс на аккаунте {account}: {balance}" style="text-align: center;"><br>


    </form>
</body>

</html>