<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Estate</title>
</head>

<body>
    {% include "header.html" %}
    <form method="post">
        <input type="text" name="amount" placeholder="Введите количество средств:" style="text-align: center;">

        <button type="submit" style="color: rgb(226, 160, 255); text-align: center;">Вывести</button> {% if error %}<br>
        <p style="color: red;">Ошибка</p>
        {% endif %}

    </form>
</body>

</html>